<%= render partial: "layouts/manager_header" %>

<div class="container">
	<br>
	<div class="row">
		<div class="col-md-11">

			<h3>受注管理</h3>
			<div class="search col-md-4">

				<%= search_form_for(@q, url: manager_orders_path) do |f| %>
				<%= f.search_field :contractee_name_cont, :placeholder=> "注文者で検索" %>
				<%= f.submit "検索", class:"btn btn-primary btn-sm" %>
				<%= f.search_field :id_eq, :placeholder=> "注文番号で検索" %>
				<%= f.submit "検索", class:"btn btn-primary btn-sm" %>
				<% end %>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-11">
			<table class="table table-hover table-inverse">
				<thead class="table-active">
					<tr>
						<th>ステータス</th>
						<th>注文番号</th>
						<th>注文者</th>
						<th>注文日時</th>
					</tr>
				</thead>
				<tbody>
					<% @orders.each do |order| %>
					<tr data-href="<%= manager_order_path(order.id) %>">
						<td><%= order.status %></td>
						<td><%= link_to order.id, manager_order_path(order.id), style: "color:black;text-decoration:none" %></td>
						<td><%= order.contractee_name %></td>
						<td><%= order.created_at.in_time_zone('Tokyo').strftime('%Y年%m月%d日 %H:%M') %></td>
					</tr>
					<% end %>
				</tbody>
			</table>
			<%= paginate @orders, :class=>"pagination" %>
		</div>
	</div>
</div>