<%= render 'customers/customer_header' %>

<div class ="container">
  <h2 class="pt-5">カート内容</h2>
		<section class="row py-5">
      	<div class="col-md-9">
				<table class="table table-hover border border-secondary">
					<thead class="thead-dark">
						<th>Disc</th>
						<th>Name</th>
						<th>Artist</th>
						<th>Price</th>
						<th>Quantity</th>
						<th>Remove</th>
					</thead>
	          <tbody>
              <% subtotal = 0 %>
	             <% @cart_products.each do |cart_product| %>
                        <tr class="nakami">
      	                	<td>
                            <%= link_to product_path(cart_product.product.id) do %>
                            <%= attachment_image_tag cart_product.product, :image, :fill, 120, 120, format:'jpeg', fallback: "no_image.png", size:'120x120', class: 'img-thumbnail' %>
                            <% end %>
                          </td>
      	                	<td>
                            <%= link_to cart_product.product.title, product_path(cart_product.product.id)%>
                          </td>
      	                	<td><%= cart_product.product.artist.name %></td>
                          <td><p><%= cart_product.product.price %>yen</p></td>
      	                	<td>
                            <%= form_for cart_product, url: cart_product_path(cart_product.id), method: :patch do |f| %>
                                  <%= f.select :count, cart_product.product.current_stock_array %>
                                  <%= f.submit "変更を確定", :class => "btn btn-outline-info" %>
                            <% end %>
                          </td>
                          <td>
                            <%= link_to cart_product_path(cart_product.id), method: :delete do %>
                            <p><i class="fas fa-minus-circle index-item fa-3x delete"></i></p>
                            <% end %>
                           </td>
	                      </tr>
                        <% total = cart_product.product.price * cart_product.count
                           subtotal += total %>
	             <% end %>
	          </tbody>
        </table>
      </div>
      <div class ="col-md-3">
        <div class="card border border-secondary">
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><h5>商品小計</h5><strong><h2 class="text-center"><%= subtotal %>&nbsp;yen</strong></h2></li>
              <% if subtotal == 0 %>
              <li class="list-group-item"><strong><p class="text-center">カートに商品が<br>入っている必要が<br>あります</p></strong></li>
              <% else %>
              <li class="list-group-item">
               <%= link_to select_address_path do %>
                <p class="btn btn-success btn-block">レジに進む</p>
                <% end %>
              </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </section>
</div>

<%= render partial: "layouts/manager_footer" %>