<%= render 'customers/customer_header' %>

<div class="container">
  <div class="row title">
    <h2 class="mx-auto">登録内容の確認</h2>
  </div>

  <%= form_for @customer, url:customer_registration_path do |f| %>
  <div class="row new-contents">
    <table class="table">
      <tbody>
        <tr>
          <th class="tr-th">氏名 :</th>
          <td class="tr-td"><%= @customer.last_name %></td>
          <td><%= @customer.first_name %></td>
        </tr>
        <tr>
          <th>フリガナ :</th>
          <td><%= @customer.last_name_read %></td>
          <td><%= @customer.first_name_read %></td>
        </tr>
        <tr>
          <th>メールアドレス :</th>
          <td><%= @customer.email %></td>
          <td></td>
        </tr>
        <tr>
          <th>TEL :</th>
          <td><%= @customer.phone_number %></td>
          <td></td>
        </tr>
        <tr>
          <th>〒 :</th>
          <td><%= @customer.postal_code %></td>
          <td></td>
        </tr>
        <tr>
          <th>住所 :</th>
          <td colspan="2"><%= @customer.address %></td>
        </tr>
        <tr>
          <th></th>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>

    <%= f.hidden_field :last_name %>
    <%= f.hidden_field :first_name %>
    <%= f.hidden_field :last_name_read %>
    <%= f.hidden_field :first_name_read %>
    <%= f.hidden_field :email %>
    <%= f.hidden_field :phone_number %>
    <%= f.hidden_field :postal_code %>
    <%= f.hidden_field :address %>
    <%= f.hidden_field :password %>

  </div>
  <div class="row">
    <div class="mx-auto">
      <%= f.submit '入力画面へ戻る', name: 'back', class: "btn btn-outline-dark confirm-btn" %>
      <%= f.submit 'アカウントを作成', class: "btn btn-success confirm-btn" %>
    </div>
  </div>

  <% end %>

</div>

<%= render 'layouts/manager_footer' %>
