<%= form_for @customer, url:customer_registration_path do |f| %>

  <div class="field">
    <%= f.label :password %><br />
    <%= @customer.password %>
    <%= f.hidden_field :password %>
  </div>

  <div class="field">
    <%= f.label :last_name %><br />
    <%= @customer.last_name %>
    <%= f.hidden_field :last_name %>
  </div>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= @customer.first_name %>
    <%= f.hidden_field :first_name %>
  </div>

  <div class="field">
    <%= f.label :last_name_read %><br />
    <%= @customer.last_name_read %>
    <%= f.hidden_field :last_name_read %>
  </div>

  <div class="field">
    <%= f.label :first_name_read %><br />
    <%= @customer.first_name_read %>
    <%= f.hidden_field :first_name_read %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= @customer.email %>
    <%= f.hidden_field :email %>
  </div>

  <div class="field">
    <%= f.label :phone_number %><br />
    <%= @customer.phone_number %>
    <%= f.hidden_field :phone_number %>
  </div>

  <div class="field">
    <%= f.label :postal_code %><br />
    <%= @customer.postal_code %>
    <%= f.hidden_field :postal_code %>
  </div>

  <div class="field">
    <%= f.label :address %><br />
    <%= @customer.address %>
    <%= f.hidden_field :address %>
  </div>

  <div class="actions">
    <%= f.submit 'アカウントを作成' %>
  </div>
  <div class="actions">
    <%= f.submit '戻る', name: 'back' %>
  </div>
<% end %>