<%= render partial: "layouts/manager_header" %>

<div class="container">
	<div class="row page-title">
		<h1>在庫追加</h1>
	</div>
		<div class="row">
			<div class="col-sm-6">
				<%= attachment_image_tag @product, :image, size:'500x500', fallback: "no_image.png", class:"img-thumbnail" %>
			</div>
			<div class="col-sm-6">
				<div class="row under-line product-show">
					<h2 class="mx-auto"><%= @product.title %></h2>
				</div>
				<div class="row artist_name">
					<div class="col">
						<div class="float-right">
							<h3 class="text-right"><%= @product.artist.name %></h3>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6 product-menu">
						<p class="text-center under-line">フォーマット：<%= @product.format %></p>
						<p class="text-center under-line">レーベル：<%= @product.record_label.name %></p>
						<p class="text-center under-line">ジャンル：<%= @product.category.name %></p>
						<p class="text-center">発売日：<%= @product.sales_date.strftime("%Y年%m月%d日") %></p>
					</div>
					<div class="col-sm-6 product-menu">
						<p class="text-center under-line">税込価格：<%= @product.price %>円</p>
						<p class="text-center"><%= @product.status %></p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col"></div>
			<div class="col-sm-3 select-quantity">
				<h4 class="now-quantity">現在の在庫：<%= @product.stock %></h4>
			</div>
			<div class="col-sm-3 select-quantity">
				<%= form_for(@arrival, url: manager_arrivals_path) do |f| %>
					<%= f.hidden_field :product_id, :value => @product.id %>
					<%= f.label "入荷日" %>
					<%= f.date_select :date %>
					<div class="center-line"></div>
					<%= f.label "入荷個数", class:"blank-more" %>
					<%= f.number_field :count, min:1, value:1 %>
					<%= f.submit "入荷を登録する", class:"btn btn-primary" %>
				<% end %>
			</div>
			<div class="col"></div>
		</div>
</div>

<%= render partial: "layouts/manager_footer" %>