<%= render partial: "layouts/manager_header" %>

<div class="container">
	<div class="row">
		<h1 class="page-title col">商品管理</h1>
		<div class="col"></div>
		<div class="serch col">
		<%= search_form_for(@q, url: manager_products_path) do |f| %>
  			<%= f.search_field :title_or_artist_name_cont, :placeholder => "商品名またはアーティストを検索" %>

  			<%= f.submit "検索" %>
  		<% end %>
  		</div>
		<table class="table table-hover table-inverse">
			<thead>
				<tr>
					<th class="table-active">商品番号</th>
					<th class="table-active">商品画像</th>
					<th class="table-active">商品名</th>
					<th class="table-active">価格(税込)</th>
					<th class="table-active">在庫数</th>
					<th class="table-active">ステータス</th>
				</tr>
			</thead>
			<tbody>
				<% @products.each do |product| %>
					<tr data-href="<%= manager_product_path(product.id) %>">
						<td><%= product.id %></td>
						<td><%= link_to attachment_image_tag(product, :image, size:'40x40', fallback: "no_image.png", class:"img-thumbnail"), manager_product_path(product.id) %></td>
						<td><%= link_to product.title, manager_product_path(product.id) %></td>
						<td>￥<%= product.price %></td>
						<td><%= product.stock %></td>
						<td><%= product.status %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
	<div class="row">
		<div class="col"></div>
		<%= paginate @products %>
		<div class="col"></div>
	</div>
</div>