<%= render partial: "layouts/manager_header" %>

<div class="container">
	<div class="row">
		<h1>入荷履歴</h1>
		<table class="table table-hover table-inverse">
			<thead>
				<tr>
					<th>番号</th>
					<th>商品画像</th>
					<th>商品名</th>
					<th>入荷数</th>
					<th>入荷日</th>
				</tr>
			</thead>
			<tbody>
				<% @arrivals.each do |arrival| %>
				<tr>
					<td><%= arrival.product_id %></td>
					<td><%= link_to attachment_image_tag(arrival.product, :image, size:'40x40', fallback: "no_image.png"), manager_product_path(arrival.product.id) %></td>
					<td><%= link_to arrival.product.title, manager_product_path(arrival.product.id) %></td>
					<td><%= arrival.count %></td>
					<td><%= arrival.date %></td>
				</tr>
				<% end %>
				<%= paginate @products, class:"paginate" %>
			</tbody>
		</table>
	</div>
</div>