<%= render 'customers/customer_header' %>

<% if flash[:error] %>
	<p><%= flash[:error] %></p>
<% end %>

<div class="container">
	<%= form_for @customer do |f| %>
		<div class="row">
			<div class="mx-auto">
				<p class="text-center">現在のパスワード</p>
				<%= f.password_field :current_password, autofocus: true, autocomplete: "current-password", class: "form-control" %>
			</div>
		</div>

		<div class="row">
			<div class="mx-auto">
		    	<p class="text-center">新パスワード</p>
		    	<%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
			</div>
		</div>

		<div class="row">
			<div class="mx-auto">
		    	<p class="text-center">新規確認用パスワード</p>
		    	<%= f.password_field :password_confirmation, autocomplete: "current-password", class: "form-control" %>
			</div>
		</div>

		<div class="row">
			<div class="mx-auto">
				<%= f.submit "パスワードを変更", name: 'edit_pass', class: "btn btn-success" %>
			</div>
		</div>
	<% end %>
</div>