<%= render 'customers/customer_header' %>

<div class="container">
	<div class="row title">
		<div class="col-md-6">
			<h2>Myページ</h2>
		</div>
		<div class="col-md-5">
			<div class="float-right">
				<%= link_to "編集",edit_customer_path, class: "btn btn-success" %>
			</div>
		</div>
	</div>

	<div class="row">
	    <table class="table">
	      <tbody>
	      	<tr>
	          <th class="tr-th">会員ID :</th>
	          <td class="tr-td"><%= @customer.id %></td>
	          <td></td>
	        </tr>
	        <tr>
	          <th class="tr-th">氏名 :</th>
	          <td class="tr-td"><%= @customer.last_name %></td>
	          <td><%= @customer.first_name %></td>
	        </tr>
	        <tr>
	          <th>フリガナ :</th>
	          <td><%= @customer.last_name_read %></td>
	          <td><%= @customer.first_name_read %></td>
	        </tr>
	        <tr>
	          <th>メールアドレス :</th>
	          <td><%= @customer.email %></td>
	          <td></td>
	        </tr>
	        <tr>
	          <th>TEL :</th>
	          <td><%= @customer.phone_number %></td>
	          <td></td>
	        </tr>
	        <tr>
	          <th></th>
	          <td></td>
	          <td></td>
	        </tr>
	      </tbody>
	    </table>
	</div>

	<div class="row a-space">
		<div class="col-md-3">
			<div class="addresses-box">
				<%= @customer.last_name %>
				<%= @customer.first_name %></br>
				<spam>〒：</spam>
				<%= @customer.postal_code %></br>
				<%= @customer.address %>
			</div>
		</div>
		<% @customer.registration_addresses.each do |sub| %>
		<div class="col-md-3">
			<div class="addresses-box">
				<spam>氏名：</spam>
				<%= sub.name %></br>
				<spam>TEL：</spam>
				<%= sub.phone_number %></br>
				<spam>〒：</spam>
				<%= sub.postal_code %></br>
				<%= sub.address %></br>
			</div>
		</div>
		<% end %>
	</div>
	<div class="row sub-title">
		<div class="col-md-6">
			<h2>購入履歴一覧</h2>
		</div>
	</div>
	<div class="row order-box">
		<table class="table table-hover">
			<thead>
				<th>ステータス</th>
				<th class="text-center">購入日時</th>
				<th class="text-center">注文番号</th>
				<th class="text-center">小計</th>
				<th class="text-center">送付者氏名</th>
				<th class="text-center">支払い方法</th>
			</thead>
			<% if @customer.orders.present? %>
				<% @customer.orders.each do |order| %>
					<tr data-href="<%= order_path(order.id) %>" class="yubi">
						<td><%= order.status %></td>
						<td class="text-center">
							<span>
								<%= order.created_at.to_s(:published_on) %>
							</span>
						</td>
						<td class="text-center">
							<span class="lr-space">
								<%= order.id %>
							</span>
						</td>
						<td class="text-center">
							<span class="lr-space">
								<%= order.total_amount %> 円(税込)
							</span>
						</td>
						<td class="text-center">
							<span class="lr-space">
								<%= order.destination_name %>
							</span>
						</td>
						<td class="text-center">
							<span class="lr-space">
								<%= order.payment_method %>
							</span>
						</td>
					</tr>
				<% end %>
			<% else %>
				<tr>
					<td colspan="6" class="text-center">
						<span class="order-none">購入履歴はありません</span>
					</td>
				</tr>
			<% end %>
		</table>
	</div>

	<div class="row low-space">
		<div class="col-md-12">
			<div class="float-right">
				<%= link_to "退会する", customer_leave_path(@customer), class: "btn btn-success" %>
			</div>
		</div>
	</div>
</div>

<%= render 'layouts/manager_footer' %>
