<%= render 'customers/customer_header' %>

<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>

<div class="container">
  <div class="row title">
    <h1 class="mx-auto">Diskyへようこそ！</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3 border">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="leave-space">
        <div class="m-space">
          <span class="m-box">メールアドレス</span>
        </div>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>

      <div class="m-space">
        <spam class="m-box">パスワード</spam>
      </div>
      <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>

      <div class="actions text-center leave-btn">
        <%= f.submit "ログイン", class: "btn btn-success" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
