<%= render partial: "layouts/manager_header" %>

<div class="container">
	<div class="row">
		<div class="col-md-4">
     <h3>ジャンル名を編集</h3>
<!-- エラーメッセージ　-->
<br>
<% if @category.errors.any? %>
<div id="error_explanation">
  <h4>入力した内容に誤りがあります</h4>
  <h5>
      <% @category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
  </h5>
</div>
<% end %>

<%= form_for(@category, url:"/manager/categories/#{@category.id}") do |f| %>

<div class="field">
	<label for="category_name"></label>
    <%= f.text_field :name %>
</div>

<div class="actions">
    <%= f.submit '保存', :class=> "category-update-btn btn-lg" %>
</div>

<% end %>

<%= link_to("削除", manager_category_path(@category), {method: :delete, data: { confirm: "「#{@category.name}」を削除します"}, class: "artist-destroy-btn btn-lg btn-danger"}) %>
<h3 class="back-to-top"><%= link_to "ジャンル一覧へ戻る", manager_categories_path %><h3>
</div>
</div>
</div>

<%= render partial: "layouts/manager_footer" %>