<%= render 'customers/customer_header' %>

<div class="container-fluid">

	<h2>商品一覧ページ</h2>

		<h3>新着商品</h3>
			<div class ="row">
				<div class="card-deck">
				<% @products.each do |product| %>
				  <div class="card text-center">
					<%= link_to product_path(product.id) do %>
							<%= attachment_image_tag product, :image, :fill, 200, 200, format:'jpeg', fallback: "no_image.png", size:'300x300', class:"card-img-top" %>
								<div class="card-body">
								<h3 class="card-title"><%= product.title %></h3>
                                <ul class="list-group list-group-flush" >
					            <li class="list-group-item"><%= product.artist.name %></li>
					            <li class="list-group-item"><%= product.price %>yen</li>
								<li class="list-group-item"><span class="badge badge-primary"><%= product.status %></span></li>
							    </ul>
								</div>
					<% end %>
				  </div>
				<%end%>
			</div>
		</div>
						<div class="kirikae">
						  <%= paginate @products %>
					    </div>
	</div>
</div>