<%= render 'customers/customer_header' %>

<div class="container">
	<div class="row">
			<div class="col-md-6 ">
				<%= attachment_image_tag @product, :image, :fill, 500, 500, format:'jpeg', fallback: "no_image.png", size:'500x500' %>
	        </div>
	        <div class="col-md-6">
				<h4 class="display-4"><%= @product.title %></h4>
				<h5 class="display-4"><%= @product.artist.name %></h5>
				<div class="row align-items-center">
					<div class="col-md-6 align-self-start">
						<table class="table">
							<tbody>
								<tr>
						          <th>レーベル</th>
						          <td><%= @product.record_label.name %></td>
						        </tr>
						        <tr>
						          <th>ジャンル</th>
						          <td><%= @product.category.name %></td>
						        </tr>
						        <tr>
						          <th>発売日</th>
						          <td><%= @product.sales_date %></td>
						        </tr>
					        </tbody>
					    </table>
				    </div>
		            <div class="col-md-6">
						<div class="card border-secondary">
							<div class="card-body">
								<ul class="list-group list-group-flush">
							        <li class="list-group-item"><h5>価格</h5>
							        <strong><h3><%= @product.price %>yen</h3></strong></li>

							        <li class="list-group-item"><h5>ステータス</h5>

								        <% if @product.status == "販売中" %>
									    	<h5><span class="badge badge-primary"><%= @product.status %></span></h5>
									    <% elsif @product.status == "販売停止中" %>
									　		<h5><span class="badge badge-danger"><%= @product.status %></span></h5>
									    <% end %>
							        </li>

									<% if customer_signed_in? %>
										<%= form_for @cart_product, url: cart_products_path do |f| %>
										<%= f.hidden_field :customer_id, :value => current_customer.id %>
										<%= f.hidden_field :product_id, :value => @product.id %>
                                    <li class="list-group-item"><h5>数量</h5>
									<p><%= f.number_field :count %></p></li>
									<li class="list-group-item">
									<%= f.submit 'カートに入れる', :class =>"btn btn-primary d-block" %>
									    <% end %>
									</li>
									<% else %>
										<h5 class="card-title">数量</h5>
									    <input type ="number">
									    <%= link_to "ログインが必要です", new_customer_session_path, :class=>"btn btn-danger" %>
								    <% end %>
								</ul>
					        </div>
					    </div>
					</div>
				</div>
		    </div>
    </div>
	<div class="row">
				<% @product.discs.order(:number).each do |disc| %>
			      <table class="table table-striped">
			      	<thead class="thead-dark">
			      		<th>Disc<%= disc.number %></th>
			      		<th>タイトル</th>
			      		<th>収録時間</th>
			      	</thead>
				    <tbody>
				  <% disc.songs.order(:number).each do |song| %>
				    	<tr>
				    		<td><%= song.number %></td>
				    		<td><%= song.title %></td>
						    <td><%= song.recording_time_minutes %>分
						    <%= song.recording_time_seconds %>秒</td>
						</tr>
				  <%end%>
				    </tbody>
				    </table>
			    <%end%>
	</div>
</div>