<!DOCTYPE html>
<html>
  <head>
    <title>Disky</title>
    <meta charset="UTF-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="assets/stylesheets/izmir.min.css">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class='<%= "#{controller.controller_name}" %>'>
    <div id="wrapper">
      <%= yield %>
    </div>
  </body>

  <footer>
  </footer>

</html>